.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: LeagueSpartan;
  src: url("/Users/taylorlallas/Desktop/PortfolioSite/tlallas.github.io/src/LeagueSpartan-Bold.otf") format("opentype");
}

.Main-initials {
  font-family: LeagueSpartan;
  font-size: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s linear;
  }
}
.App-navcontainer{
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items:baseline;
  justify-content: space-evenly;
}

h1 {
  font-family: LeagueSpartan;
  color: black;
  /* font-size: 3em; */
}

.App-navbar-items {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: flex-start;
  justify-content: space-around;
}



.App-navbar-items a {
  color: black;
  text-decoration: none;
  font-family: LeagueSpartan;
}
.App-navbar-items a:hover {
  color: rgb(179, 6, 6);
}

.Landing-jumbotron {
  background-color: #FFF;
  min-height: 100vh;
  display: flex;
  margin-top: 4%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-photo {
  max-width: 30%;
  border-radius: 0.2em;
  margin-left: 13%;
  margin-right: 3%;
  
}

.Landing-jumbo-text-container {
  /* border: solid rgb(179, 6, 6) .2em;
  border-radius: 0.01em;  */
  min-width: 40%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
